@import "../../assets/sass/variables";
@import "../../assets/sass/utils";


.feature-box {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem 0;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: all .3s;
  backface-visibility: hidden;

  &:hover {
    transform: translateY(-1.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, .15);
  }
  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    -webkit-background-clip: text; //background color only to where the text is
    color: transparent; // making the text disappear so that the clipped background color may appear
  }
}