@import "../../assets/sass/variables";
@import "../../assets/sass/utils";
@import "../../assets/sass/mixins";

.popup {
  height: 100vh;
  width: 100%;
  z-index: 3000;
  background-color: rgba($color-black, .8);
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @include respond(tab-port) {
    color: #4d4b4b;
  }

  &__content {
    @include absCenter;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;

    //zooming in affect
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25); //we can't have two transform in the same element, so, we combined them // the first one is from mixin
    transition: all .5s;
    transition-delay: .2s; //for black background to come in first

    @include respond(tab-port) {
      background-image: linear-gradient(to right, rgba(#ddd8d8, .8), rgba(#cdcaca, .8)), url("../../assets/images/nat-8.jpg");
      background-position: 50% 50%; //*** to center background image when cropped
      background-size: cover;
    }
  }

  &__left {
    width: 33.3333333%;
    display: table-cell;
    height: 100%;

    @include respond(tab-port) {
      display: block;
      width: 100%;
    }
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-land) {
      padding: 1.5rem 2.5rem;
    }
    @include respond(tab-port) {
      display: block;
      width: 100%;
      padding: 3rem 4.5rem;
    }
  }

  &__image {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      height: 15%; //making height relative or as the popup box bigger in height, the images will leave white spaces under them i.e they get shorter than the height of the popup box
    }
    @include respond(tab-port) {
      display: none;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    //creating columns in the paragraph
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    //hyphenating the texts
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto; //need to specify language inside html tag //eg. <html lang="en">
    hyphens: auto; //only works on chrome android and macOS
  }
  &:target { //when popup id is call through button anchor i.e href // target pseudo class gets called
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-dark-grey;
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
    }

    &:hover{
      color: $color-primary;
    }
  }
}