@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child){ //all the row except the last child(row)
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
      padding: 0 3rem;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem !important;
  }

  @include clearfix; //without this, all the row will have 0 heights because they collapse on each other// because of float layout

  [class^='col-'] { //this is called attribute selector // in this case, it's selecting all the classes start with col-// ^= means start with// *= means contain// $= means end with
    float: left;

    &:not(:last-child){
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }
}

.grid-1-1-2{

  .col-0, .col-1 {
    width: calc((100% - 3 * #{$gutter-horizontal}) /4);
  }
  .col-2 {
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) /4) + #{$gutter-horizontal});
  }
}

.grid-1-1 {
  .col-0, .col-1{
    width: calc((100% - #{$gutter-horizontal}) /2); //calc is a css function// you can mix units with this// to use scss variable we need to wrap it around like this #{}
  }
}

.grid-1-1-1 {
  .col-0, .col-1, .col-2 {
    width: calc((100% - 2 * #{$gutter-horizontal}) /3);
  }
}

.grid-1-1-1-1 {

  .col-0, .col-1, .col-2, .col-3 {
    width: calc((100% - 3 * #{$gutter-horizontal}) /4);
  }

}

