@import "../../assets/sass/variables";
@import "../../assets/sass/utils";


.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh; //moving closer to the header section-triangle's right edge

  .paragraph {
    font-size: $default-font-size;
    margin-bottom: 3rem;
  }

}



