@import "../../assets/sass/variables";
@import "../../assets/sass/utils";
@import "../../assets/sass/mixins";



.story-board {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6); //making it a little transparent
  border-radius: $default-border-radius;
  padding: 6rem 6rem 6rem 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem 4rem 4rem 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }


  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);//the shape-outside is for defining how the elements should float around the shape eg.texts
    shape-outside: circle(50% at 50% 50%); //only works when the element is floating and have height and width defined// the first value is radius , the second is the position of the center
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); //the best way to move a floated element around
    position: relative;

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%; //to fit inside the parent element
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption{//when the card is hovered, we want to change story-board--caption element
    opacity: 1;
    transform: translate(-50%,-50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); // values lower than 100% make it darker //100% is initial value
  }
}