@import "../../assets/sass/variables";
@import "../../assets/sass/utils";


.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -9rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.tours-btn {
  margin-top: 10rem;
  text-align: center;
}