@import "../../assets/sass/utils";
@import "../../assets/sass/mixins";
@import "../../assets/sass/variables";


.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom,$color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem;
  }
}

.book {
  background-image: linear-gradient(105deg, //instead of to right or etc. we can define a deg
                                    rgba($color-white, .9) 0%, //white starts from 0%
                                    rgba($color-white, .9) 50%, //both white and transparent(or other color) starts at the same 50% the gradient forms a solid line between them
                                    transparent 50%),
                                    url("../../assets/images/nat-10.jpg");

  background-size: 100%; //like cover but it's basically set the width to 100% and not changing height
  border-radius: $default-border-radius;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);


  @include respond(tab-land) {
    background-image: linear-gradient(105deg,
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 65%,
            transparent 65%),
    url("../../assets/images/nat-10.jpg");
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(to right,
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 100%),
    url("../../assets/images/nat-10-small.jpg");

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
           (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), //for safari
           (min-width: 125em) {
              background-image: linear-gradient(to right,
                      rgba($color-white, .9) 0%,
                      rgba($color-white, .9) 100%),
              url("../../assets/images/nat-10.jpg");
    }
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land){
      width: 65%;
    }

    @include respond(tab-port){
      width: 100%;
    }
  }
}