@import "../../assets/sass/utils";
@import "../../assets/sass/mixins";


.form {

  .form-group {
    margin-bottom: 2rem;
  }

  &__radio-group {
    width: 50%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-top: 2rem;
    }
  }
}