@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";


.card {
  //FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; //card height collapse to 0 with specifying position absolute to the __side //this is one way to fix it

  &__side {
    font-size: 2rem;
    height: 52rem;
    transition: all .8s ease;
    backface-visibility: hidden; //to hide the back when performing the transform
    border-radius: $default-border-radius;
    overflow: hidden; //img is covering up the border-radius // so ..
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%; //width collapse also with the position absolute

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg); //back is already rotated when the card isn't hovered

      &--primary {
        background-image: linear-gradient(to right bottom,$color-primary-light, $color-primary-dark);
      }
      &--secondary {
        background-image: linear-gradient(to right bottom,$color-secondary-light, $color-secondary-dark);
      }
      &--tertiary {
        background-image: linear-gradient(to right bottom,$color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front { //when the card is hovered, we want to change card__side--font element
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {//when the card is hovered, we want to change card__side--back element
    transform: rotateY(360deg);
  }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; //because of the clip-path the border radius of top part of the card disappeared

    &--primary{
          background-image: linear-gradient(to right bottom,$color-primary-light, $color-primary-dark), url("../../assets/images/nat-6.jpg");
      }
    &--secondary{
      background-image: linear-gradient(to right bottom,$color-secondary-light, $color-secondary-dark), url("../../assets/images/nat-5.jpg");
    }
    &--tertiary{
      background-image: linear-gradient(to right bottom,$color-tertiary-light, $color-tertiary-dark), url("../../assets/images/nat-7.jpg");
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; //doesn't work on chrome without the prefix
    box-decoration-break: clone; //when the heading breaks, we want to treat both parts as separate// without this padding padding doesn't look as good

    &--primary {
      background-image: linear-gradient(to right bottom,
              rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
    }
    &--secondary {
      background-image: linear-gradient(to right bottom,
              rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
    }
    &--tertiary {
      background-image: linear-gradient(to right bottom,
              rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
    }
  }
  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child){
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  //BACK SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  &__price-box {
    margin-bottom: 8rem;
    color: $color-white;
  }
  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }




  @include respond(tab-port) {
    height: auto;
    border-radius: $default-border-radius;
    background-color: $color-white; //to connect two sides
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15); // the card has only one side now ,so . . .

    &__side {
      height: auto;
      position: static; //changing position to it's default value // position relative also works
      box-shadow: none; //to connect two sides

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    //BACK SIDE STYLING
    &__cta {
      position: static;//changing position to it's default value // position relative also works
      top: 0;
      left: 0;
      transform: translate(0);    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }
    &__price-box {
      margin-bottom: 3rem;
    }
    &__price-value {
      font-size: 4rem;
      font-weight: 300;
    }
  }
}