@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

//MEDIA QUERIES MANAGER
/*
   0  - 600px     - Phone
600px - 900px     - Tablet portrait
900px - 1200px    - Tablet landscape
1200px - 1800px   - Normal version
1800px +       - Big Desktops
 */

@mixin respond-phone {
  @media (max-width: 600px) {
    @content // with this we can't pass codes into mixin
  }
}

/*
just like if statement inside a function

ORDER: Base + Typography , general layout + grid , page layout , components
 */
@mixin  respond ($break-point) {
//1em = 16px //rem are problematic with media queries // also the changes we did to the root font size don't affect media queries ,so, no point using rem
  @if $break-point == phone {
    @media only screen and (max-width: 37.5em) { //600px //to apply only for screen not printing or etc
      @content
    }
  }
  @if $break-point == tab-port {
    @media only screen and  (max-width: 56.25em) { //900px
      @content
    }
  }
  @if $break-point == tab-land {
    @media only screen and (max-width: 75em) { //1200px
      @content
    }
  }
  @if $break-point == big-desktop {
    @media only screen and (min-width: 112.5em) { //1800px
      @content
    }
  }
}