@import "variables";
@import "mixins";

.text-align-center { //we want whatever specified in utility class to take precedent over everything// this is normal
  text-align: center !important;
}
.text-align-left {
  text-align: left !important;
}
.text-align-right {
  text-align: right !important;
}
.heading-tertiary {
  font-size: $default-font-size !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}
.margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}
.margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}
.margin-bottom-small {
  margin-bottom: 2rem !important;
}

.margin-top-big {
  margin-bottom: 8rem !important;
}
.margin-top-medium {
  margin-bottom: 4rem !important;
}
.margin-top-small {
  margin-bottom: 2rem !important;
}

.row {
  max-width: $grid-width;
  margin: 0 auto;

  @include respond(tab-port) {
    max-width: 50rem;
  }

  @media only screen and (max-width: 26.875em) {
    padding: 0 2rem;
  }

  &:not(:last-child) { //all the row except the last child(row)
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }
}